<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>

<table class="pretty">
  <tr>
    <th><%= sortable "id", "Number" %></th>
    <th><%= sortable "purchased_at", "Purchased" %></th>
    <th><%= sortable "shipping" %></th>
    <th><%= sortable "total_price", "Total" %></th>
  </tr>
  <% for order in @orders %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.purchased_at.to_s(:long) %></td>
      <td><%= order.shipping ? "Yes" : "No" %></td>
      <td class="price"><%= number_to_currency(order.total_price) %></td>
    </tr>
  <% end %>
</table>

<p><%= will_paginate(@orders) %></p>