<h1>Orders</h1>

<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "orders_chart"
      },
      title: {
        text: "Orders by Day"
      },
      xAxis: {
        type: "datetime"
      },
      yAxis: {
        title: {
          text: "Dollars"
        }
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ': ' +
            "$" + Highcharts.numberFormat(this.y, 2);
        }
      },
      series: [
      <% { "Download" => Order.download, "Shipping" => Order.shipping }.each do |name, orders| %>
      {
        name: "<%= name %>",
        pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
        data: <%= orders_chart_series(orders, 3.weeks.ago) %>
      },
      <% end %>
      ]
    });
  });
</script>

<div id="orders_chart" style="width:560px; height:300px;"></div>

<%= form_tag orders_path, :method => 'get', :id => "orders_search" do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search By Price", :name => nil %>
  </p>

  <div id="orders">
	<%= render 'orders' %>
  </div>
<% end %>

<p>
<%= link_to "New Order", new_order_path %> | 
  <%= link_to 'Products', products_path %>	
</p>
