<p id="notice"><%= notice %></p>

<p>
  <b>Total price:</b>
  <%= @order.total_price %>
</p>

<p>
  <b>Purchased at:</b>
  <%= @order.purchased_at %>
</p>

<p>
  <b>Shipping:</b>
  <%= @order.shipping %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
