<p id="notice"><%= notice %></p>

<p>
  <b>Zip code:</b>
  <%= @city.zip_code %>
</p>

<p>
  <b>Name:</b>
  <%= @city.name %>
</p>

<p>
  <%= link_to "Edit", edit_city_path(@city) %> |
  <%= link_to "Destroy", @city, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", cities_path %>
</p>