<%= simple_form_for @product do |f| %>
  <% if @product.errors.any? %>
  	<div id="error_explanation">
     <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
     <ul>
     <% @product.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
     <% end %>
     </ul>
    </div>
  <% end %>

  <%= f.input :name %>
  <%= f.input :price, :hint => "prices should be in Swiss Franc" %>
  <%= f.association :category, :include_blank => false %>
  <%= f.input :released_on %>
  <%= f.input :rating, :collection => 1..5, :as => :radio %>
  <%= f.input :discontinued  %>
  <%= f.input :description %>

  <%= f.button :submit %>
<% end %>






