<div class="product">
  <h3>
    <%= link_to product.name, product %>
    <div class="details">
      Price: <%= number_to_currency(product.price) %> |
      <%= link_to "Read Reviews", product_reviews_path(product) %>
    </div>
  </h3>
  <div class="actions">
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>
