<% title "Messages" %>

<% for message in @messages %>
 <p>
  <div class="message">
    <div class="created_at"><i><%= message.created_at.strftime("%B %d, %Y") %></i></div>
    <div class="content">
      <%= message.content %>
    </div>
    <div class="actions">
      <%= link_to "Destroy", message, :confirm => "Are you sure?", :method => :delete %>
    </div>
  </div>
 </p>
<% end %>

<%= render "form" %>

<%= link_to 'New Message', new_message_path %>
